<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread] session-id=[%X{sessionId}] user-id=[%X{userId}] robot-name=[%X{robotName}] %-1level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
    
    <logger name="de.fhg.iais.roberta.brick.CompilerWorkflow" level="debug" />
    
</configuration>